<?xml version="1.0"?>
<launch>
  <arg name="dst_bag" default=""/>
  <arg name="topic" default="-a"/>

  <include file="$(find kkrt_lidar_pkg)/launch/lidars.launch"/>
  <include file="$(find ros_imu_bno055)/launch/imu_test.launch"/>
  <include file="$(find kait_robot)/launch/kait_description.launch"/>
  
  <group ns="Front">
  	<!--include file="$(find laserscan_to_pointcloud)/launch/laserscan_to_pointcloud_assembler.launch">
  	  <arg name="laser_scan_topics" value="/scan_front"/>
  	  <arg name="pointcloud_publish_topic" value="pointcloud_front"/>
  	  <arg name="motion_estimation_source_frame_id" value="ethertop_front" />
  	  <arg name="motion_estimation_target_frame_id" value="base_link" />
  	  <arg name="target_frame" value="base_link" />
  	  <arg name="base_link_frame_id" value="base_link" /-->
    <include file="$(find laserscan_to_pointcloud)/launch/nodelet.launch">
  	  <arg name="scan_topic" value="/scan_front" />
      <arg name="cloud_topic" value="/pointcloud_front" />
  	</include>
  </group>
  <group ns="Rear">
    <!--include file="$(find laserscan_to_pointcloud)/launch/laserscan_to_pointcloud_assembler.launch"> 
  	  <arg name="laser_scan_topics" value="/scan_rear"/>
  	  <arg name="pointcloud_publish_topic" value="pointcloud_rear"/>
  	  <arg name="motion_estimation_source_frame_id" value="ethertop_rear" />
  	  <arg name="motion_estimation_target_frame_id" value="base_link" />
  	  <arg name="target_frame" value="base_link" />
  	  <arg name="base_link_frame_id" value="base_link" /-->
  	<include file="$(find laserscan_to_pointcloud)/launch/nodelet.launch">
  	  <arg name="scan_topic" value="/scan_rear" />
      <arg name="cloud_topic" value="/pointcloud_rear" />
  	</include>
  </group>

  
  <include file="$(find twist_to_targets_pkg)/launch/twist_to_targets.launch"/>
  
  <!--node pkg="rosbag" type="record" name="bag_saver" args="-O $(arg dst_bag) $(arg topic)" output="screen"/-->
  <node pkg="rosbag" type="record" name="bag_saver" args="-o '/home/kkrt/catkin_ws/src/kait_robot/kait_robot/bag/bag' $(arg topic)" output="screen"/>
  
</launch>

